* {
    margin: 0px;
    padding: 0px;
}

header {
    background-image: url(anh/hedder.jpg);
    height: 300px;
    background-size: 100% 100%;
}

* {
    margin: 0px;
    padding: 0px;

}

body {
    font-family: arial;
    color: black;
    font-size: 20px;
    background-color: rgb(228, 234, 232);
}

nav {
    height: 60px;
    background: rgb(6, 76, 162);
    margin-bottom: 0px;
}

.abc {
    max-width: 90%;
    margin: 0 auto;
}

.menu>li a {
    display: block;

}

.menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
}

.menu ul li {
    width: 300px;
    background: rgb(6, 76, 162);
    border-top: 2px solid white;
}

.menu ul ul {
    top: 0;
    left: 100%;
}

body {
    font-family: arial;
    color: black;

}

nav {
    height: 60px;
    background: rgb(6, 76, 162);
    margin-bottom: 0px;
}

nav ul {
    list-style: none;
    max-width: 90%;
    margin: 0 auto;
}

nav ul li {
    float: left;
    padding: 0 25px;
    position: relative;
    border-right: 1px solid white;

}

nav ul li:hover {
    background: rgb(190, 132, 132);
    font-weight: bolder;
    transition: ease-in 0.25s;
    -moz-transition: ease-in 0.25s;
    -webkit-transition: ease-in 0.25s;
}

.menu li:hover>ul {
    display: block;
    transition: ease-in 0.25s;
    -moz-transition: ease-in 0.25s;
    -webkit-transition: ease-in 0.25s;
}

.chuchay {
    height: 30px;
    background-color: rgb(131, 253, 87);
    width: 100%;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    line-height: 60px;
    font-size: 25px;
    padding: 0px 10px;
}

nav .timkiem {
    float: right;
    line-height: 60px;
    max-width: 90%;
    margin: 0 auto;
}

nav .timkiem input {
    border-radius: 5px 0 0 5px;
    border: none;
    outline: none;
    margin: 0px;
    padding: 7px 10px;
    width: 250px;
    border-radius: 5px;
}

nav .timkiem button {
    padding: 7px 10px;
    border: none;
    outline: none;
    background: rgb(105, 105, 181);
    color: #fff;
    margin-left: -5px;
    border-radius: 5px;

}

article {
    margin: 60px 200px;
    padding: 40px 100px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fff;

}
.hoatdong{
    width: 600px;
    height: 100px;
    background-color:aqua;
    border-radius: 100px;
    line-height: 100px;
    margin: 0 auto;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.clb-guita-noidung {
    padding: 50px;
}

.clb-guita-noidung h4 {
    padding: 20px;
}
.clb-guita{
    padding-top: 50px;
}
.clb-guita-noidung p {
    line-height: 30px;
    padding-left: 40px;
}

.clb-guita-noidung .anh1 {
    text-align: center;
    padding-top: 60px;
}

.clb-tinhnguyen-noidung {
    padding: 50px;
}

.clb-tinhnguyen-noidung h4 {
    padding: 10px 50px;
}

.clb-tinhnguyen-noidung p {
    line-height: 30px;
    padding-left: 60px;
}

.clb-guita-noidung .anh1 {
    text-align: center;
    padding-top: 60px;
}
.clb-tinhnguyen{
    padding-top: 50px;
}
.clb-tinhnguyen-noidung h3 {
    padding: 20px;
}
.clb-tinhnguyen-noidung .anh2 {
    text-align: center;
    padding-top: 50px;
}
.tieude{
    width: 400px;
    height: 80px;
    background-color: yellowgreen;
    line-height: 80px;
    text-align: center;
    border-radius: 0 200px 200px 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.clb-tienganh-noidung {
    padding: 50px;
}
.clb-tienganh-tieude{
    padding-top: 50px;
}
.clb-tienganh-noidung h4 {
    padding: 20px;
}

.clb-tienganh-noidung p {
    line-height: 30px;
    padding-left: 40px;
}
.anh3{
    text-align: center;
    padding-top: 50px;
}

footer {
    height: 300px;
    clear: both;

}

.logo {
    padding: 40px 0 0 300px;
    background-color: rgb(6, 76, 162);
}
.logo {
    display: flex;

}

.chuf {
    padding: 50px 0 0 50px;
}

.chuf p {
    padding-top: 10px;
    font-size: 30px;
}
.logo2{
    clear: both;
    padding: 70px 0 0 100px;
}
.logo2 img{
    border-radius: 100%;
}
.logo3{
    padding: 70px 0 0 50px;
}
.logo3 img{
    border-radius: 100%;
}